Repository monodist/monodist: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{css,html,json,md,yaml,yml}": "npx prettier --write",
  "*.{js,jsx,ts,tsx}": "eslint --fix"
}

updated eslint configs to scope parserOptios correctly
  libs/lib-a/.eslintrc.js
  libs/lib-b/.eslintrc.js
  rigs/eslint-config/.eslintrc.js
  rigs/eslint-config/src/rules/typescript-config.ts
Due: eslint --fix

intermedidate commit in refactoring eslint into mutators
  pnpm-lock.yaml
  rigs/eslint-config/.eslintrc.js
  rigs/eslint-config/jest.config.js
  rigs/eslint-config/package.json
  rigs/eslint-config/src/__tests__/__snapshots__/base.test.ts.snap
  rigs/eslint-config/src/__tests__/base.test.ts
  rigs/eslint-config/src/__tests__/jest.setup.ts
  rigs/eslint-config/src/__tests__/utils.test.ts
  rigs/eslint-config/src/base.ts
  rigs/eslint-config/src/base2.ts
  rigs/eslint-config/src/constants.ts
  rigs/eslint-config/src/index.ts
  rigs/eslint-config/src/node.ts
  rigs/eslint-config/src/rules/comments-config.ts
  rigs/eslint-config/src/rules/import-config.ts
  rigs/eslint-config/src/rules/javascript-config.ts
  rigs/eslint-config/src/rules/jest-config.ts
  rigs/eslint-config/src/rules/prettier-config.ts
  rigs/eslint-config/src/rules/promise-config.ts
  rigs/eslint-config/src/rules/react-config.ts
  rigs/eslint-config/src/rules/typescript-config.ts
  rigs/eslint-config/src/types.ts
  rigs/eslint-config/src/utils.ts
  rigs/eslint-config/src/web.ts
  rigs/eslint-config/tsconfig.eslint.json
Due: npx prettier --write, eslint --fix

intermediate commit
  rigs/eslint-config/.eslintrc.js
  rigs/eslint-config/.eslintrc.js.old
  rigs/eslint-config/log.js
  rigs/eslint-config/src/__tests__/__snapshots__/base.test.ts.snap
  rigs/eslint-config/src/__tests__/__snapshots__/browser.test.ts.snap
  rigs/eslint-config/src/__tests__/__snapshots__/node.test.ts.snap
  rigs/eslint-config/src/__tests__/base.test.ts
  rigs/eslint-config/src/__tests__/browser.test.ts
  rigs/eslint-config/src/__tests__/node.test.ts
  rigs/eslint-config/src/__tests__/utils.test.ts
  rigs/eslint-config/src/base.ts
  rigs/eslint-config/src/base2.ts
  rigs/eslint-config/src/browser.ts
  rigs/eslint-config/src/index.ts
  rigs/eslint-config/src/rules/base-config.ts
  rigs/eslint-config/src/rules/comments-config.ts
  rigs/eslint-config/src/rules/import-config.ts
  rigs/eslint-config/src/rules/javascript-config.ts
  rigs/eslint-config/src/rules/jest-config.ts
  rigs/eslint-config/src/rules/prettier-config.ts
  rigs/eslint-config/src/rules/promise-config.ts
  rigs/eslint-config/src/rules/react-config.ts
  rigs/eslint-config/src/rules/typescript-config.ts
  rigs/eslint-config/src/utils.ts
  rigs/eslint-config/src/web.ts
Due: eslint --fix

renamed files
  rigs/eslint-config/src/applicators/apply-base.ts
  rigs/eslint-config/src/applicators/apply-comments.ts
  rigs/eslint-config/src/applicators/apply-import.ts
  rigs/eslint-config/src/applicators/apply-jest.ts
  rigs/eslint-config/src/applicators/apply-prettier.ts
  rigs/eslint-config/src/applicators/apply-promise.ts
  rigs/eslint-config/src/applicators/apply-react.ts
  rigs/eslint-config/src/applicators/apply-typescript.ts
  rigs/eslint-config/src/applicators/index.ts
  rigs/eslint-config/src/browser.ts
  rigs/eslint-config/src/node.ts
Due: eslint --fix

working eslint-config
  .github/workflows/push-branch-master.yml
  libs/lib-a/.eslintrc.js
  libs/lib-b/.eslintrc.js
  package-lock.json
  package.json
  rigs/eslint-config/.eslintrc.js
  rigs/eslint-config/.eslintrc.js.old
  rigs/eslint-config/log.js
  rigs/eslint-config/src/__tests__/__snapshots__/browser.test.ts.snap
  rigs/eslint-config/src/__tests__/__snapshots__/node.test.ts.snap
  rigs/eslint-config/src/applicator.ts
  rigs/eslint-config/src/applicators/apply-base.ts
  rigs/eslint-config/src/applicators/apply-comments.ts
  rigs/eslint-config/src/applicators/apply-import.ts
  rigs/eslint-config/src/applicators/apply-jest.ts
  rigs/eslint-config/src/applicators/apply-prettier.ts
  rigs/eslint-config/src/applicators/apply-promise.ts
  rigs/eslint-config/src/applicators/apply-react.ts
  rigs/eslint-config/src/applicators/apply-typescript.ts
  rigs/eslint-config/src/browser.ts
  rigs/eslint-config/src/helpers.ts
  rigs/eslint-config/src/index.ts
  rigs/eslint-config/src/node.ts
  rigs/eslint-config/src/types.ts
  rigs/eslint-config/src/utils.ts
Due: npx prettier --write, eslint --fix

added full applicator functionality
  rigs/eslint-config/src/applicator.ts
Due: eslint --fix

updated eslint-config
  libs/lib-a/.eslintrc.js
  libs/lib-b/.eslintrc.js
  pnpm-lock.yaml
  rigs/eslint-config/.eslintrc.js
  rigs/eslint-config/CHANGELOG.md
  rigs/eslint-config/package.json
  rigs/eslint-config/src/__tests__/node.test.ts
  rigs/eslint-config/src/applicators/base.applicator.ts
  rigs/eslint-config/src/applicators/comments.applicator.ts
  rigs/eslint-config/src/applicators/import.applicator.ts
  rigs/eslint-config/src/applicators/index.ts
  rigs/eslint-config/src/applicators/jest.applicator.ts
  rigs/eslint-config/src/applicators/prettier.applicator.ts
  rigs/eslint-config/src/applicators/promise.applicator.ts
  rigs/eslint-config/src/applicators/react.applicator.ts
  rigs/eslint-config/src/applicators/typescript.applicator.ts
  rigs/eslint-config/src/browser.ts
  rigs/eslint-config/src/configs/__tests__/__snapshots__/browser.config.test.ts.snap
  rigs/eslint-config/src/configs/__tests__/__snapshots__/next-js.config.test.ts.snap
  rigs/eslint-config/src/configs/__tests__/__snapshots__/node-js.config.test.ts.snap
  rigs/eslint-config/src/configs/__tests__/browser.config.test.ts
  rigs/eslint-config/src/configs/__tests__/next-js.config.test.ts
  rigs/eslint-config/src/configs/__tests__/node-js.config.test.ts
  rigs/eslint-config/src/configs/browser.config.ts
  rigs/eslint-config/src/configs/index.ts
  rigs/eslint-config/src/configs/next-js.config.ts
  rigs/eslint-config/src/configs/node-js.config.ts
  rigs/eslint-config/src/index.ts
  rigs/eslint-config/src/node.ts
Due: npx prettier --write, eslint --fix

added manual_dispatch workflows
  .github/workflows/monodist-lib-a.yml
  .github/workflows/monodist-lib-b.yml
  .github/workflows/push-tag-monodist-lib-b.yml
Due: npx prettier --write

docs(changeset): (api) name changes
  .changeset/bright-fishes-punch.md
Due: npx prettier --write

RELEASING: Releasing 2 package(s)
  .changeset/bright-fishes-punch.md
  libs/lib-b/CHANGELOG.md
  libs/lib-b/package.json
  rigs/eslint-config/CHANGELOG.md
  rigs/eslint-config/package.json
Due: npx prettier --write

moved workflow_dispatch to separate files
  .github/workflows/push-tag-monodist-lib-a.yml
  .github/workflows/push-tag-monodist-lib-b.yml
  .github/workflows/workflow-dispatch-monodist-lib-a.yml
  .github/workflows/workflow-dispatch-monodist-lib-b.yml
Due: npx prettier --write

renamed workflows
  .github/workflows/@monodist-lib-a.dispatch.yml
  .github/workflows/@monodist-lib-a.tag.yml
  .github/workflows/@monodist-lib-b.dispatch.yml
  .github/workflows/@monodist-lib-b.tag.yml
  .github/workflows/master.pull-request.yml
  .github/workflows/master.push.yml
Due: npx prettier --write

added base-config
  rigs/eslint-config/src/configs/__tests__/__snapshots__/base.config.test.ts.snap
  rigs/eslint-config/src/configs/__tests__/base.config.test.ts
  rigs/eslint-config/src/configs/base.config.ts
  rigs/eslint-config/src/configs/index.ts
  rigs/eslint-config/src/index.ts
Due: eslint --fix
